/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header h1 {
  margin-left: 100px;
  margin-bottom: 100px;
  font-family: inherit;
  color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 50px

}

/*.top-container {
  background-color: #00b5d9;
  width: 100% ;
  /*height: 20%;
  position: fixed;
  top: 0;
  z-index: 99;

}*/

 body {
  /*background-color: #00b5d9;*/
  background: rgba(179,220,237,1);
  background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
  background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );

}

#video-container {
  margin-left: 250px;

}

/*.example-chat {
  width: 500px;
  margin: 40px auto 0px auto;
}

.exampele-chat header {
  background-color: #EEE;
  font-size: 12px;
  text-align: center ;
  color: #999;
  display: block;
  border-radius: 3px 3px 0px 0px;
  line-height: 24px;
}

.example-chat .example-chat-toolbar {
  background-color: #FFF;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ccc;
  display: block;
}

.example-chat .example-chat-toolbar label {
  text-transform: uppercase;
  line-height: 32px;
  font-size: 14px;
  color: #999;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  cursor: default;
}

.example-chat .exampel-chat-toolbar input {
  box-shadow: none;
  border: 1px solid #fff;
  padding-left: 100px ;
  color: #999;
  border-radius: 3px ;
  padding: 0px, 10px;
  height: 30px;
  font-size: 18px;
  width: 100%;
  font-weight: normal;
  outline: none;
  cursor: auto;
}

.example-chat ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
  height: 200px;
  overflow: auto;
}

.example-chat ul li {
  margin-bottom: 10px;
  line-height: 24px;
  display: list-item;
}

.example-chat ul .example-chat-username {
  margin-right: 10px;
  font-weight: bold;

} 

.example-chat footer {
  display: block;
  padding: 10px;
}

.example-chat footer input {
  border: 1px solid #ced3db;
  height: 40px;
}

.example-chat input {
  border-radius: 3px;
  padding: 0px 10px;
  font-size: 18px;
  width: 100%;
  font-weight: normal;
}

*/

/*#publisher{
  position: absolute;
  max-width: 160px;
  height: 120px;
  top:250px;
}*/

/*#layoutContainer {
            width: 320px;
            height: 240px;
            background-color: #DDD;
            position:relative;
        }*/

/*#video-container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-left: 20PX
}*/