<!DOCTYPE html>
<html>
<head>
  <title>Webvideo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
  <script src="js/opentok-layout.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
 
  <header>
    <h1> WYDNI</h1>
  </header>

 
  
  <div id="error" style="display:none">
      Sorry, your browser does not support webrtc. Please try Firefox or Google Chrome.
  </div>
  

  <div id ="video-container">
    <div id="others">
      <h4>Other participants</h4>
    </div>

    <div id="yours">
      <h4>Your stream</h4>
        <div id="publisher"></div>
          <a href="javascript:resizePublisher()">resize</a> 
        </div>
      <button id="audio-off">Mute</button>
    </div>

   
   
  


  <%= yield %>

  <script type="text/javascript">
  var apiKey    = "45131832";
  var sessionId = "2_MX40NTEzMTgzMn5-MTQyMzE4OTY5OTY4NX5HT2h5b3QzbFhEV1R5WFZhdm1CeVVLUDh-fg";
  var token     = "T1==cGFydG5lcl9pZD00NTEzMTgzMiZzaWc9MTI5YWFiNjFkN2M0YWU2YmYzODYxMWRiZWJmZTg3YmI1ODYwNTk5Zjpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5URXpNVGd6TW41LU1UUXlNekU0T1RZNU9UWTROWDVIVDJoNWIzUXpiRmhFVjFSNVdGWmhkbTFDZVZWTFVEaC1mZyZjcmVhdGVfdGltZT0xNDIzMTg5NzgzJm5vbmNlPTAuMDE1NTk0ODQxNDI1NzUwOTYmZXhwaXJlX3RpbWU9MTQyMzc5NDM3MA==";
  var replacementElementId = "publisher";
  var others = document.getElementById('others');



  function setupChat() {
  // See http://www.tokbox.com/blog/getting-started-with-opentok-from-0-to-simple-group-video-chat/
    var sizeOpts = {width: 944, height: 531};
    var publisher = OT.initPublisher(replacementElementId, sizeOpts);
    var session = OT.initSession(apiKey, sessionId); 


    session.addEventListener('sessionConnected', function(e){
      console.log("session connected");
      session.publish(publisher);
      subscribeToStreams(e.streams);
  });

    session.addEventListener("streamCreated", function(event) {
      console.log("stream created");
      subscribeToStreams(event.streams);
    });

    session.connect(token);

  function subscribeToStreams(streams) {
    for (var i = 0; i < streams.length; i++) {
      // Make sure we don't subscribe to ourself
      if (streams[i].connection.connectionId == session.connection.connectionId) {
        return;
      }
      // Create the div to put the subscriber element in to
      var div = document.createElement('div');
      div.setAttribute('id', 'stream' + streams[i].streamId);
      div.setAttribute('class', 'video-stream');
      others.appendChild(div);
      console.log("subscribing to stream");
      session.subscribe(streams[i], div.id, sizeOpts);
      
    }
  }

  var muteButton = document.getElementById("audio-off");
  muteButton.onclick = function() {
    publisher.publishAudio(false);
  };
}
// $( window ).resize(function() {
//   $( "#log" ).append( "publisher" );
// });
// function resizePublisher() {
//     var pubElement = document.getElementById('publisher');
//     pubElement.style.width = "1250px";
//     pubElement.style.height = "1000px";
//   }


if (OT.checkSystemRequirements() == 1) {
  setupChat();
} else {
  console.log("The client does not support WebRTC.");
  document.getElementById("error").style.display = 'block';
}

 </script>

</body>
</html>
